unsignedU.o
readBin.o
my_readline.o
libmy.so
soft-war-server
my_strchar.o
my_strcmp.o
my_putchar.o
check.o
my_putstr.o
binaire.o
my_convertHexa.o
my_strpos.o
HexaMaj.o
HexaMin.o
my_strlen.o
readHexa.o
my_strncpy.o
my_printf.o
hexatab.o
my_strstr.o
my_put_nbr.o
my_strconcat.o
octal.o
my_strcpy.o
lib/my/obj/octal.o
bin/soft-war-server
